body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 20px;
  }
  
  h1 {
    color: darkblue;
  }
  
  .user-card {
    border: 1px solid lightcyan;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
  }
  
  img {
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  /* Responsive styles for tablets */
  @media screen and (max-width: 768px) {
    .user-card {
      width: 45%;
    }
  }
  
  /* Responsive styles for mobile devices */
  @media screen and (max-width: 480px) {
    .user-card {
      width: 100%;
    }
  }
  