body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: darkblue;
}

#usersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card {
    border: 1px solid lightblue;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Responsive styles for tablets */
@media screen and (max-width: 768px) {
    .user-card {
        width: 45%;
    }
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 480px) {
    .user-card {
        width: 100%;
    }
}

button {
    margin-top: 10px;
    cursor: pointer;
  }
  
  .more-info {
    display: none;
    margin-top: 10px;
  }
  
  .more-info p {
    margin: 5px 0;
  }